@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

  color: #fafafa;
  background: radial-gradient(#222831, #222831);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

header a {
  margin-right: 1rem;
}

header {
  margin-top: 5rem !important;
  margin: auto;
  padding: 2rem;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #222831 #222831;
  overflow-x: auto;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  width: 90%;
  max-width: 70rem;
  display: grid;
  grid-template-areas: "image rightside";
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  background-color: #948979;
  margin-bottom: 5rem;
}

@media (max-width: 630px) {
  header{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "image" 
    "rightside";
  }
}





.image img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}




header h1 {
  font-family: "Roboto Condensed", sans-serif;
  background: linear-gradient(60deg, #8f9192, #ffffff, #c5c5c5, #bdbdbd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
  justify-content: center;
  font-size: 2rem;
  margin: 0 !important;
  
}



.rightside p {
  font-size: 1rem;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  justify-content: center;
}


@media screen and (max-width: 635px){
  
  header{
    height: 25rem;
    margin-top: 3rem !important;
  }
}


main {
  width: 90%;
  max-width: 70rem;
  margin: auto;
}

#courses {
  padding: 2rem;
  border-radius: 6px;
  background-color: #948979;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

main h2 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 0 1.5rem 0;
  color: #ffffff;
}

#courses ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

#courses li {
  width: 15rem;
  text-align: center;
}

#courses li img {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
}

#courses li h3 {
  margin: 0.5rem 0;
}

#courses li p {
  font-size: 0.9rem;
}




#examples img {
  height: 15rem;
  width: 15rem;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1000px){
  
  #examples img {
    width: 25rem;
    height: 25rem;
  }
}

#examples {
  margin: 3rem auto;
}

#examples h2 {
  text-align: center !important;
}

#examples menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

#examples menu button {
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


#examples menu button:hover {
  background-color: #DFD0B8;
  color: #ffffff;
}

#examples menu button.active{
  background-color: #948979 !important;
  color: #fff;
}

#tab-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: #948979;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow: auto;
  transition: all 0.3s ease-in-out;
  display: grid;
  grid-template-areas: 
  'img h3'
;
  grid-template-columns: 1fr 2fr;
}

#tab-content div {
  margin-left: 1rem;
}

@media (max-width: 630px) {
  #tab-content{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "image" 
    "h3";
  }

  #tab-content div {
    margin-left: 0;
  }
}

#tab-content h3 {
  margin: 0;
}

